.options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

h1 {
    font-size: 24px;
    margin-bottom: 30px;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.option-button {
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 200px;
    text-align: center;
}

.option-button:hover {
    background-color: #e0e0e0;
}

.back-btn {
    margin-top: 25px;
    padding: 10px 20px;
    font-size: 16px;
    border: solid black;
    border-radius: 10px;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.back-btn:hover {
    background-color: #e0e0e0;
}
